body{
  background-color: #CBBB9F;
}

li{
  font-family: dazzle-unicase, Sans-serif;
  font-weight: 500;
}

.dd-a{
  font-family: turnip;
}

footer{
  width: 100%;
  height: 20%;
}

#top{
  text-align: center;
  color: white;
  height: 5.5vh;
}

#om-os{
  font-size: larger;
  width: 100%;
  background-image: url("../images/CupEH.png");
  transition: transform 250ms, box-shadow 250ms;
}

#om-os:hover{
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

#vores-kaffe{
  font-size: larger;
  width: 100%;
  background-image: url("../images/berry.png");
  transition: transform 250ms, box-shadow 250ms;
}

#vores-kaffe:hover{
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

#find-os{
  font-size: larger;
  width: 100%;
  background-image: url("../images/kopogboenner.png");
  transition: transform 250ms, box-shadow 250ms;
}

#find-os:hover{
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

#vores-menu{
  font-size: larger;
  width: 100%;
  background-image: url("../images/Brunch.png");
  transition: transform 250ms, box-shadow 250ms;
}

#vores-menu:hover{
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}


